# Supabase Configuration
VITE_SUPABASE_URL=https://pxdheimwyfilhvvdbrup.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB4ZGhlaW13eWZpbGh2dmRicnVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgxNjMwMzYsImV4cCI6MjA5MzczOTAzNn0.yduIpBVTnqRr2jvy6R73LJWOzPOpX936FwKfL9Jsu7w

# NestJS Backend Configuration
VITE_NEST_API_URL=http://localhost:3001/api/v1